<mat-card style = "height: 100%">
  <div class = "col-lg-4">
    <h1>Projects</h1>

    <button *ngIf = "isAdmin()" id = "setvisibleaddcomment" name = "setvisibleaddcomment" mat-raised-button
            color = "primary" style = "margin-bottom:20px; margin-top: 20px"
            (click) = "setvisibleaddteam()">{{registration ? 'Cancel' : 'Create new Team'}}
    </button>
    <div *ngIf = "registration" class = "mat-elevation-z8">
      <mat-card>
        <form class = "form-horizontal">
          <legend>Project registration</legend>
          <div class = "form-group">
            <div class = "col-md-7">
              <input #name id = "name" name = "name" type = "text" placeholder = "Project Name"
                     class = "form-control input-md" required = "">

            </div>
          </div>

          <div class = "form-group">
            <label class = "col-md-4 control-label" for = "registration"></label>
            <div class = "col-md-4">
              <button id = "registration" name = "registration" class = "btn btn-primary" mat-flat-button
                      color = "primary" (click) = "registerProject(name.value)">Project registration
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <br>
    <br>
    <h2>Projects</h2>
    <div class = "mat-elevation-z8">
      <table mat-table [dataSource] = "dataSource">

        <ng-container matColumnDef = "name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef = "let project"> {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef = "actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <mat-cell *matCellDef = "let project">
            <!--button mat-button (click) = "details(project)">Details</button-->
            <button *ngIf = "isAdmin()" mat-button (click) = "delete(project)">Delete</button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-card>
