<mat-card style = "height: 100%">
  <div class = "col-lg-7 my-form">
    <h1>Join requests</h1>
    <div class = "mat-elevation-z8">
      <div *ngIf = "requests.data!=null" class = "mat-elevation-z8">
        <table mat-table [dataSource] = "requests" style = "width: 100%">

          <ng-container matColumnDef = "name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef = "let request"> {{request.user.name}} </td>
          </ng-container>

          <ng-container matColumnDef = "actions">
            <div>
              <th mat-header-cell *matHeaderCellDef></th>
              <mat-cell *matCellDef = "let request" style = "position: center">
                <div *ngIf = "isdeclined(request); else r">
                  <label style = "margin-bottom: 15px; margin-top: 15px">Declined</label>
                </div>
                <ng-template #r>
                  <button mat-raised-button color = "primary" style = "margin-bottom:2px; margin-top: 2px"
                          (click) = "acceptrequest(request)">
                    Accept
                  </button>
                  <button mat-raised-button color = "primary"
                          style = "margin-bottom:2px; margin-top: 2px; margin-left: 2px;"
                          (click) = "declinerequest(request)">
                    Decline
                  </button>
                </ng-template>
              </mat-cell>
            </div>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
          <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</mat-card>
