<div class = "my-container">
  <div class = "col-lg-12 my-form">
    <h1>Join requests</h1>
    <div class = "mat-elevation-z8">
      <table mat-table [dataSource] = "dataSource">

        <ng-container matColumnDef = "title">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef = "let user"> {{user.name}} </td>
        </ng-container>

        <ng-container matColumnDef = "project">
          <th mat-header-cell *matHeaderCellDef> email</th>
          <td mat-cell *matCellDef = "let ticket"> {{ticket.project == null ? '' : ticket.project.name}} </td>
        </ng-container>

        <ng-container matColumnDef = "author">
          <th mat-header-cell *matHeaderCellDef> User Level</th>
          <td mat-cell *matCellDef = "let ticket"> {{ticket.author.name}} </td>
        </ng-container>

        <ng-container matColumnDef = "actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <mat-cell *matCellDef = "let ticket">
            <button mat-button (click) = "editTicket(ticket)">Details</button>
            <button mat-button (click) = "deleteTicket(ticket.id)">Delete</button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

