.mat-column-users {
  width: 30%;
}

.mat-column-day0 {
  width: 10%;
}

.mat-column-day1 {
  width: 10%;
}

.mat-column-day2 {
  width: 10%;
}

.mat-column-day3 {
  width: 10%;
}

.mat-column-day4 {
  width: 10%;
}

.mat-column-day5 {
  width: 10%;
}

.mat-column-day6 {
  width: 10%;
}
