<mat-card style = "height: 100%">
  <div class = "col-lg-4">
    <h1>Team tables</h1>
    <div class = "mat-elevation-z8">
      <table mat-table [dataSource] = "dataSource">

        <ng-container matColumnDef = "name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef = "let table"> {{table.name}} </td>
        </ng-container>

        <ng-container matColumnDef = "actions">
          <div>
            <th mat-header-cell *matHeaderCellDef></th>
            <mat-cell *matCellDef = "let table">
              <button (click) = "tableview(table.id)" mat-raised-button color = "primary"
                      style = "margin-bottom:20px; margin-top: 20px; margin-right: 10px">Table view
              </button>
              <button (click) = "listview(table.id)" mat-raised-button color = "primary"
                      style = "margin-bottom:20px; margin-top: 20px">List view
              </button>
            </mat-cell>
          </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-card>
