<mat-sidenav-container class = "full-height" autosize = "true">
  <mat-sidenav *ngIf = "showHeader" class = "navbar-class" mode = "side" opened (click) = "hideSidebar()">

    <div *ngFor = "let i of routeList">
      <div *ngIf = "foradmin(i.admin)">
        <mat-menu-item [routerLink] = "['/'+ i.route]"
                       class = "with-icon padded glow-on-hover"
                       (click) = "$event.stopPropagation()">
          <mat-icon [matTooltip] = "i.toolTip">{{ i.icon }}</mat-icon>&nbsp;
          <span [hidden] = "collapse">{{ i.name }}</span>
        </mat-menu-item>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class = "padded">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
