<mat-toolbar class = "navbar-class">
  <span>Ticket Service</span>

  <div class = "spacer"></div>

  <a mat-button class = "navbar-class" href = "home">Home</a>
  <a mat-button class = "navbar-class" href = "login">Login</a>
  <a mat-button class = "navbar-class" href = "registration">Registration</a>
  <a mat-button class = "navbar-class" href = "createticket">Create Ticket</a>
  <a mat-button class = "navbar-class" href = "teamsregistration">Teams</a>
  <a mat-button class = "navbar-class" href = "tickets">Tickets</a>
  <a mat-button class = "navbar-class" href = "projects">Projects</a>
  <a mat-button class = "navbar-class" href = "profile">Profile</a>
  <a mat-raised-button color = "accent" (click) = "doLogout()">Logout</a>
</mat-toolbar>
