.spacer {
  flex: 1 1 auto;
}

.navbar-class {
  background-color: #344955;
  text-align: center;
  color: #F9AA33
}

.full-height {
  height: 100%;
}

.padded {
  padding: 10px;
  margin-right: 50px;
}

.with-icon {
  display: flex;
  align-items: center;
}

/* source https://codepen.io/kocsten/pen/rggjXp */
