<div class = "container my-container">
  <div class = "col-lg-12 my-form">
    <h1>Sprint create</h1>
    <br>
    <div>
      <form>

        <label>Select Start date</label>
        <br>

        <input [(ngModel)] = "startDate" class = " col-md-6 form-control input-md" type = "date" id = "startDate"
               name = "startDate">

        <br>
        <label>Select End date</label>
        <br>
        <input [(ngModel)] = "endDate" class = " col-md-6 form-control input-md" type = "date" id = "endDate"
               name = "endDate">
        <br>
        <button id = "registration" name = "registration" mat-raised-button color = "primary"
                style = "margin-bottom:20px; margin-top: 20px" (click) = "onSubmit()">Make sprint
        </button>
      </form>
    </div>
  </div>
</div>
