<div class = "container my-container">
  <div class = "col-lg-12 my-form">

    <script>
      $(function () {
        $('#startdate').datepicker({dateFormat: 'dd/MM/yyyy'});
      });
    </script>
    <h1>Sprint create</h1>
    <div>
      <form [formGroup] = "createsprintform" (ngSubmit) = "onSubmit()">

        <label>Start date</label>
        <br>

        <mat-form-field appearance = "outline">
          <input [(ngModel)] = "sprint.startDate" matInput formControlName = "enddate" [matDatepicker] = "startdate"
                 (click) = "startdate.open()">
          <mat-datepicker-toggle matSuffix [for] = "startdate"></mat-datepicker-toggle>
          <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>

        <br>
        <label>End date</label>
        <br>
        <mat-form-field appearance = "outline">
          <input [(ngModel)] = "sprint.startDate" matInput formControlName = "enddate" [matDatepicker] = "enddate"
                 (click) = "enddate.open()">
          <mat-datepicker-toggle matSuffix [for] = "enddate"></mat-datepicker-toggle>
          <mat-datepicker #enddate></mat-datepicker>
        </mat-form-field>
        <br>
        <button id = "registration" name = "registration" class = "btn btn-primary" mat-flat-button color = "primary"
                type = "submit">Make sprint
        </button>
      </form>
    </div>
  </div>
</div>
